
.cuerpo {
    font-family: 'Arial Black', sans-serif;
    background-color: #000;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}


.encabezado {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
    padding: 30px;
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000, 0 0 15px #fff; 
}


.navegacion {
    margin: 20px 0;
    background-color: #000;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #d32f2f;
    box-shadow: 20px 20px 60px rgba(211, 47, 47, 0.1), -20px -20px 60px rgba(211, 47, 47, 0.1);
}


.navegacion a {
    color: #d32f2f;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    position: relative;
}


.navegacion a:hover {
    color: #f0f0f0;
    text-shadow: 0 0 5px #f0f0f0, 0 0 10px #f0f0f0;
}


.contenido-principal {
    flex: 1;
}


.seccion {
    padding: 40px;
    background-color: #000;
    border: 2px solid #d32f2f;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    position: relative;
}


.seccion::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(43, 1, 1), rgb(94, 0, 0), rgb(255, 0, 0));
    background-size: 400%;
    z-index: -1;
    animation: gradiente 5s ease infinite;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.seccion:hover::before {
    opacity: 1;
}


@keyframes gradiente {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.seccion:hover {
    background-color: #000;
    border-color: #d32f2f;
    box-shadow: 0 8px 25px #d32f2f;
}


.titulo-seccion {
    color: #d32f2f;
    font-size: 2.5em;
    text-transform: uppercase;
}


.texto {
    font-size: 1.2em;
    line-height: 1.6;
    color: #ccc;
}


.pie-pagina {
    border-radius: 7px;
    box-shadow: 20px 20px 60px rgba(211, 47, 47, 0.1), -20px -20px 60px rgba(211, 47, 47, 0.1);
    background-color: #000;
    color: #d32f2f;
    padding: 15px 0;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
}
